@* @model MvcWeb.Models.TagHistoryContext;

@{
    ViewData["Title"] = "MineNet Tag ID History";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="MinersOnShift" enctype="multipart/form-data">

            <div class="form-group">
            <label asp-for="TagIdListData" class="control-label">Miner:</label>
            <select>
                @foreach (var tag in Model.TagIdListData)
                {
                    <option asp-action="SelectedTag" asp-controller="History">@tag.FullName</option>

                }
            </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
 *@

 @model MvcWeb.Models.TagHistoryContext;
@{
  ViewData["Title"] = "Miners On Shift";
}

<h1>MinersOnShift</h1>


<table class="table table-striped w-auto" style="max-height:50vh; height: 50vh;">
  <thead class="bg-light sticky-top">
    <tr>
      <th>Date</th>
      <th>Date Path</th>
      <th>Time</th>
      <th>Time Path</th>
      <th>File Name-Path</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var archive in Model.ArchiveDbs) {
      <tr>
        <td>
          <b>@archive.Date - @archive.Time</b>
        </td>
        <td>
          <b>&quot@archive.DatePath&quot</b>
        </td>
        <td>
          <b>&quot@archive.TimePath&quot</b>
        </td>
        <td>
          <b>&quot;@archive.FileNamePath&quot;</b>
        </td>
      </tr>
    }
  </tbody>
</table>
