<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - MvcWeb</title>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/lib/bootstrap-icons-1.11.3/font/bootstrap-icons.min.css" />
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/MvcWeb.styles.css" asp-append-version="true" />
</head>
<body>
  @* <div> *@
  <header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
      <div class="container-fluid">
        @* <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MvcWeb</a> *@
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
          <img src="~/svg/consol-logo-white.svg" alt="Consol Energy Minenet" style="height: 40px;">
        </a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target=".navbar-collapse"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
          <ul class="navbar-nav flex-grow-1">

            <li class="nav-item">
              <a class="nav-link text-dark" asp-area="" asp-controller="History" asp-action="Index">History</a>
            </li>

          </ul>
          @if (!string.IsNullOrEmpty(User.Identity?.Name)) {
            <p class="nav navbar-text"><span class="muted">Logged in as:</span> &ensp;<b>@User.Identity?.Name</b></p>
          }
        </div>
      </div>
    </nav>
  </header>
  <main role="main">

    <div class="container">
      @RenderBody()
      <div class="container">
        <div class="card" style="height: 25vh; z-index: 10000">
          <div class="card-header pt-3">
            <center class="small">
              <h4 class="card-title">
                <i class="bi bi-exclamation-diamond mx-3 text-muted" style="font-size: 1.1rem;"></i>
                Alerts
                <i class="bi bi-exclamation-diamond mx-3" style="font-size: 1.1rem;"></i>
              </h4>
            </center>
          </div>
          <div>
            <table class="table table-sm table-light tableFixHead">
              <thead>
                <tr>
                  <th scope="col" />
                  <th scope="col">Addr</th>
                  <th scope="col">Device</th>
                  <th scope="col">Type</th>
                  <th scope="col">Alarm</th>
                  <th scope="col">Occurred</th>
                  <th scope="col">Location</th>
                </tr>
              </thead>
              <tbody id="alerts-grid-body" />
            </table>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer class="border-top footer text-muted small p-0 m-0">
    <div class="container container-sm">
      &copy; 2023 - Consol Energy
    </div>
  </footer>

  <script src="~/lib/signalr/signalr.js"></script>
  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/js/site.js" asp-append-version="true"></script>

  <script src="~/hubs/minenet.js"></script>
  <script src="~/hubs/_helpers.js"></script>

  @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
