@{
  ViewData["Title"] = "Miner Locations";
}

<div class="container p-0 m-0">
  <ul class="nav nav-pills" id="myTabs">
    <li class="nav-item">
      <a class="nav-link active" id="tab-miner" data-toggle="tab" href="#content1" data-tab-id="0">Miners</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" id="tab-saf" data-toggle="tab" href="#content2" data-tab-id="1">SAFs</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" id="tab-emt" data-toggle="tab" href="#content3" data-tab-id="2">EMTs</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" id="tab-cnt" data-toggle="tab" href="#content3" data-tab-id="3">CNTs</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" id="tab-equip" data-toggle="tab" href="#content3" data-tab-id="4">Equipment</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" id="tab-supcar" data-toggle="tab" href="#content3" data-tab-id="5">Supply Cars</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" id="tab-pad" data-toggle="tab" href="#content3" data-tab-id="6">Pads</a>
    </li>

  </ul>

  <div class="tab-content">

    <div class="card pb-2">
      <div class="card-header pt-3">
        <center class="small">
          <h3 id="card-title" class="card-title">On Shift Miner Location</h3>
        </center>
      </div>
      <div class="card-body pt-0" style="height: 40vh; overflow-y: auto">
        <table class="table table-sm table-light tableFixHead">
          <thead>
            <tr>
              <th scope="col" />
              <th scope="col">Tag ID</th>
              <th scope="col">Miner ID</th>
              <th scope="col">Last Name</th>
              <th scope="col">First Name</th>
              <th scope="col">Addr</th>
              <th scope="col">Zone</th>
              <th scope="col">Reported</th>
              <th scope="col">Duration</th>
            </tr>
          </thead>
          <tbody id="tags-grid-body" />
        </table>
      </div>
    </div>

  </div>
</div>
