@{
    ViewData["Title"] = "Miner Locations";
}
<div class="container">
    <h3>Miner Locations</h3>

    <div id="sortable-grid">
        <div class="grid-header">
            <div class="grid-column">Tag ID</div>
            <div class="grid-column">Miner ID</div>
            <div class="grid-column">Last Name</div>
            <div class="grid-column">First Name</div>
            <div class="grid-column">Addr</div>
            <div class="grid-column">Zone</div>
            <div class="grid-column">Reported</div>
            <div class="grid-column">Duration</div>
        </div>
        <div id="tags-grid-body" />
    </div>
    <div id="hub-info" />
</div>

@section Scripts {
    <script src="~/hubs/minenet.js"></script>
}

