@{
    ViewData["Title"] = "Miner Locations";
}
<div class="container" style="max-height: 55vh; height: 55vh; overflow: hidden;">
    <h3>Miner Locations</h3>

    <table class="table tableFixHead">
        <thead>
            <tr>
                <th scope="col" />
                <th scope="col">Tag ID</th>
                <th scope="col">Miner ID</th>
                <th scope="col">Last Name</th>
                <th scope="col">First Name</th>
                <th scope="col">Addr</th>
                <th scope="col">Zone</th>
                <th scope="col">Reported</th>
                <th scope="col">Duration</th>
            </tr>
        </thead>
        <tbody id="tags-grid-body" />
    </table>
</div>
<script>

</script>
