@{
    ViewData["Title"] = "Miner Locations";
}
<div class="container">
    <h3>Miner Locations</h3>

    <div id="sortable-grid">
        <div class="grid-header">
            <div class="grid-column">Column 1</div>
            <div class="grid-column">Column 2</div>
            <div class="grid-column">Column 3</div>
        </div>
        <div id="tags-grid-body"></div>
    </div>
</div>

@section Scripts {
    <script src="~/hubs/minenet.js"></script>
}

